# flask==3.0.2
# flask-cors==4.0.0
# flask-socketio==5.3.6
# python-socketio==5.8.0
# python-engineio==4.9.0
# gunicorn
# librosa==0.10.2.post1
# numpy==1.26.4
# scipy==1.12.0
# python-dotenv==1.0.1

# Core web dependencies
flask==3.0.2
flask-cors==4.0.0
flask-socketio==5.3.6
python-socketio==5.8.0
python-engineio==4.9.0
gunicorn

# Machine learning & audio
tensorflow-cpu==2.15.0
tensorflow-hub==0.15.0
librosa==0.10.2.post1
essentia-tensorflow

# Scientific stack
numpy==1.26.4
scipy==1.12.0
pandas==2.2.2

# Config
python-dotenv==1.0.1