.audio-upload-section {
  max-height: 0;
  /* overflow: hidden; */
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
}

.audio-upload-section.show {
  max-height: 1000px; /* Set a high value to ensure it expands fully */
  opacity: 1;
  position: relative;
  overflow: visible;
}
